# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# FastAPI / logs
*.log

# Android / Gradle
mobile/.gradle/
mobile/build/
mobile/app/build/
mobile/local.properties

# APKs y resultados temporales
*.apk
*.xapk
apks/
downloads/
results/
data/

# IDE
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db